h1{
  color: White;
  text-align: center;


  font-family:sans-serif;
  font-size: 56px;
  margin:-78px; background-color: rgb(93, 0, 255);

      width: 1;
      height: 0;
      border: 112px solid rgb(93, 0, 255);
      border-radius: 1%;
}

h2{
  color:Purple;
  margin-top: 10%;
}

h3{
  color:Purple;
}

p{
  margin-top: 13%;
  margin-left: 5%;
  font-family:sans-serif;
  color: black;
  font-style: bold;
  font-size: 20px;
  border-style:hidden;

}

body{
  background-color: white;
}

a{
 color: white;
}

img{
  margin-left:-5%;
}


nav{
  font-size: 25px;
text-align: center;
}
